{% extends "main.html" %}
{% block title %}
  Home
{% endblock title %}

{% block body %}
  <div class="container p-5">

    <div class="list-group">
        <div class="list-group-item list-group-item-action active" aria-current="true">
            Users
        </div>
        {% for user in users %}
          
        {% if user != request.user %}
        <a href="{% url 'chat_room' user.username %}" class="list-group-item list-group-item-action">{{user}}</a>
        {% endif %}
        
        

        {% endfor %}
      </div>

  </div>
{% endblock body %}